@model CatalogPagingFilteringModel.CategoryFilterModel
@using Nop.Web.Models.Catalog;

@if (Model.Enabled)
{
    if (Model.NotFilteredItems.Count > 0)
    {
        <ul class="product-filters">
            <div class="filter-title">@T("Filtering.CategoryFilter")</div>

            @foreach (var category in Model.NotFilteredItems)
            {
                <li><a href="@category.FilterUrl"><span class="namefil">category.Name</span> <span class="fil_cant">@category.NumOfProducts</span></a></li>
            }
        </ul>
    }
}
