@model Nop.Web.Models.Catalog.ManufacturerHomePageModel
@{
    Layout = null;
}

@if (Model.Enable)
{ 
    <ul class="conte_marcas">
        @foreach (var manufacturer in Model.Manufacturers)
        {
            <li>
                <a href="@Url.RouteUrl("Manufacturer", new { SeName = manufacturer.SeName })">
                    <img alt="@manufacturer.PictureModel.AlternateText" src="@manufacturer.PictureModel.ImageUrl" />
                    <span>@manufacturer.Name</span>
                </a>
            </li>
        }
        <br />
    </ul>
}
