@model Nop.Web.Models.Sales.PublishProductModel

@helper GetClassImage(int iImage)
{
    var style = "icon-foto";
    
    if (Model.ProductType == Nop.Web.Controllers.ProductTypePublished.Bike)
    {
        switch (iImage)
        {
            case 0:
                style = "icon-deportiva";
                break;
            case 1:
                style = "icon-m_a";
                break;
            case 2:
                style = "icon-m_b";
                break;
            case 3:
                style = "icon-m_c";
                break;
            case 4:
                style = "icon-placa";
                break;
            default:
                style = "icon-foto";
                break;
        }
    }
    
    @:@style
}
<div id="divContentImages">
    
    <div class="content-public">

        <ul class="picture-uploader">

            

            @for (int i = 0; i < 10; i++)
            {
                <li class="addImageGalery @(i==0 ? "picture_principal" : string.Empty )">
                    <i class="icon-delete" style="display:none"></i>
                    <span class="@GetClassImage(i)"></span>
                    <img width="100%" height="100%" style="display:none" />
                    @(i == 0 ? "Foto principal" : string.Empty)
                </li>
                

            }
            <li class="icon-mas" style="display:none">

            </li>
            <br />
            
        </ul>

        @T("PublishProduct.SelectImagesExtensions", Model.MaxSizeFileUpload / 1024000)
    </div>
    <input type="file" style="display:none" multiple />
	<script id="templateHelpImages" type="text/x-handlebars-template">
        <div class="modal_malFoto">
            <h4>Forma correcta de tomar fotos</h4>
            <img src="/Themes/Healthy/Content/images/mala-foto.gif"/>
            <img src="/Themes/Healthy/Content/images/buena-foto.gif"/>
            <ul>
                <li><span>No tomes las fotos con filtros.</span></li>
                <li><span>Preferiblemente toma las fotos horizontalmente</span></li>
                <li><span>Tomar las fotos en el dia con buena luz</span></li>
                <li><span>Envita tomar las fotos con el producto o la moto sucios o con un ambiente sucio o desagradable</span></li>
            </ul>
            <a class="button-1" href="javascript:;">Continuar</a>
        </div>
	</script>
</div>
<hr />