@{
    Layout = "~/Views/Shared/_PanelRoot.cshtml";
}

@Html.Action("Menu", "ControlPanel")
<div class="center-2 columns ten">
    <script data-main="/scripts/tuils/main" src="~/Scripts/require.js"></script>
    @RenderBody()
</div>



