@model Nop.Web.Models.ControlPanel.NoRowsModel

@if (Model != null && Model.List.Count == 0)
{ 
    <div class="no-result">
        @T(Model.ResourceMessage)
        @if (Model.ShowPublishProduct)
        {
            <br />
            <a class="button-1" href="@Url.Action("Index", "Sales")">@T("common.publishProductNoFree")</a>
            <br />
        }

        @if (Model.ShowSimilarSearches)
        { 
            @Html.Action("SimilarSearches", "Catalog")
        }
    </div>
}

