@model Nop.Web.Models.ControlPanel.VendorServicesModel
@{
    Html.AddTitleParts(T("PageTitle.Account").Text);
    Layout = "~/Views/Shared/_PanelLayoutTwo.cshtml";
    Html.AppendCssFileParts("~/Content/tagit/jquery.tagit.css");
}

<script data-main="/scripts/tuils/main" src="~/Scripts/require.js"></script>


@using(Html.BeginForm())
{ 
    <div>
        @Html.LabelT("VendorServices.References")
        @Html.TextBoxFor(m => m.BikeReferencesString, new { style = "display:none" })
    </div>
    <div>
        @Html.LabelT("VendorServices.Specialized")
        @Html.TextBoxFor(m => m.SpecializedCategoriesString, new { style = "display:none" })
    </div>
    <div>
        <input type="submit" />
    </div>
}







