@model ProductDetailsModel.ProductPriceModel
@using Nop.Web.Models.Catalog
<div class="prices" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <div class="product-price">
        <span itemprop="price" class="price-value-@(Model.ProductId)">
            @Html.Raw(Model.Price)
        </span>
    </div>
</div>
