@model ProductDetailsModel.ProductPriceModel
@using Nop.Web.Models.Catalog

<div class="prices">

    @if (Model.CallForPrice)
    {
        @*call for price*@
        <div class="product-price call-for-price">
            <span>@T("Products.CallForPrice")</span>
        </div>
    }
    else
    {
        <div class="product-price">
            <span itemprop="price" class="price-value-@(Model.ProductId)">
                @Html.Raw(Model.Price)
            </span>

        </div>
        if (!String.IsNullOrEmpty(Model.CurrencyCode))
        {
            <meta itemprop="priceCurrency" content="@Model.CurrencyCode" />
        }
        <meta itemprop="price" content="@Model.PriceValue" />
    }

</div>