@model FeaturedLeftMenuModel

@using Nop.Web.Models.Catalog;
@using Nop.Core.Infrastructure;
@if (Model.Products > 0)
{
    var supportRtl = EngineContext.Current.Resolve<Nop.Core.IWorkContext>().WorkingLanguage.Rtl;
   <div class="product-grid bestsellers">
        <div class="title">
            <strong>@T("FeaturedLeftMenu")</strong>
        </div>
        <div id="owl-home-page-bestsellers" class="owl-carousel">
            @foreach (var item in Model.Products)
            {
                <div class="item-box">@Html.Partial("_ProductBox", item)</div>
            }
        </div>
    </div>  
}