@charset "UTF-8";
/* CSS Document */
body{
	background: url(../images/bkg_body.jpg) top center / cover #000;
	width: 100%;
	height:100%;
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	color:#54525b;
	font-size: 14px;
}
br{
	clear: both;
}
header{
	background: url(../images/header.png) no-repeat bottom center / cover;
	width: 100%;
	height: 130px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	padding: 20px 0;
	box-sizing:border-box;
}
.content-h{
	width:940px;
	margin: 0 auto;
	position: relative;
}
.logo{
	background: url(../images/logo_tuils.png) no-repeat center / 100%;
	width:250px;
	height: 148px;
	float: right;
	text-indent: -99999px;
	margin: 0;
}
footer{
	background: url(../images/footer.png) no-repeat top center / cover;
	width: 100%;
	height: 100px;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 3;
}
.content{
	width:940px;
	margin: 0 auto;
	position: relative;
	padding:130px 0 100px;
}
section{
	width:400px;
	padding:10% 0 0;
}

.tit_landing{
	background: url(../images/tit_landing.png) no-repeat center / 100%;
	color: transparent;
	font-size: 10px;
	width: 338px;
	height: 117px;
	position: relative;
	margin: 0 0 110px;
}
.logofest{
	background: url(../images/logo_fest.png) no-repeat center / 100%;
	width: 297px;
	height: 126px;
	position: absolute;
	right: -140px;
	bottom: -90px;
}
h3{
	font-size: 20px;
	font-weight: 500;
	font-style: italic;
	color:#3c5b82;
	text-shadow:1px 1px 8px #e4fafe, 1px 1px 8px #e4fafe, 1px 1px 8px #e4fafe, 1px 1px 8px #e4fafe;
}
h3 b{
	font-weight: 700;
	color:#f74d34;
}
input{
	border-radius: 2px;
	background: #FFF;
	border: none;
	box-shadow:0 0 13px rgba(145, 155, 170, 0.7);
	box-sizing:border-box;
	color:#54525b;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	padding: 12px;
	height: 40px;
	width: 100%;
	margin:0 0 20px;
	display: block;
}

input[type=checkbox]{
	width:15px;
	height: 15px;
	border:1px solid #f9644c;
	margin: 0 5px 0 0;
	display: inline;
}
.dos{
	width:calc(50% - 10px);
	margin: 0 20px 0 0;
	float: left;
}
.tres{
	width:calc(50% - 10px);
	float: left;
}
button{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	width: 100%;
	box-sizing:border-box;
	padding: 10px;
	text-align: center;
	font-size: 20px;
	color: #FFF;
	border-radius: 2px;
	border: none;
	cursor: pointer;
	background: #f9715a; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9715a 0%, #f74d34 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9715a), color-stop(100%,#f74d34)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9715a 0%,#f74d34 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9715a 0%,#f74d34 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9715a 0%,#f74d34 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9715a 0%,#f74d34 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9715a', endColorstr='#f74d34',GradientType=0 ); /* IE6-9 */
}
button:hover, button:active{
	background: #f9715a; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9715a 0%, #f74d34 86%, #cc4a2c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9715a), color-stop(86%,#f74d34), color-stop(100%,#cc4a2c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9715a 0%,#f74d34 86%,#cc4a2c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9715a 0%,#f74d34 86%,#cc4a2c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9715a 0%,#f74d34 86%,#cc4a2c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9715a 0%,#f74d34 86%,#cc4a2c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9715a', endColorstr='#cc4a2c',GradientType=0 ); /* IE6-9 */
}
.terminos{
	margin:20px 0 0;
}
.terminos a{
	color:#f74d34;
	font-weight: 500;
	text-decoration: none;
}
.tira{
	background:url(../images/img_tira.png) no-repeat center / 100% auto;
	width: 574px;
	height: 83px;
	position: relative;
	left: -90px;
	text-indent: -9999px;
}
.ganador{
	background: url(../images/img_1.png) no-repeat center / 100%;
	width: 805px;
	height:560px;
	position: fixed;
	bottom: 20px;
	right:20%;
}

@media screen and (max-width:1900px) {
	.ganador{
		right:10%;
	}
	section{
		padding: 0;
	}
}
@media screen and (max-width:1600px) {
	header{
		background-position: top center;
	}
	.ganador{
		right:2%;
		width: 60%;
		height:438px;
	}
}
@media screen and (max-width:1300px) {
	header{
		height:90px;
		background-position: bottom right;
	}
	.content{
		padding:90px 0;
	}
	.logo{
		width:200px;
		height: 115px;
	}
	.ganador{
		right:-2%;
		width: 50%;
		bottom: 10px;
	}
}
@media screen and (max-width:1200px) {
	.ganador{
		position: fixed;
		right: 2%;
	}
	.tira{
		width:515px;
	}
}
@media screen and (max-width:940px) {
	.content, .content-h{
		width:auto;
		margin:0 20px;
	}
	.ganador{
		right:0;
		height: 390px;
	}
	.logo{
		width: 170px;
		height: 105px;
	}
	.tit_landing{
		width: 270px;
		margin: 0 0 80px;
	}
	.logofest{
		width: 230px;
		height:100px;
		bottom:-60px;
		right:-100px;
	}
}
@media screen and (max-width:768px) {
	.content{
		padding: 90px 0 50px;
	}
	section{
		margin: 0 auto;
	}
	.ganador{
		display:none;
	}
	.tira{
		left:-60px;
	}
}
@media screen and (max-width:640px){
	footer{
		height:60px;
	}
}
@media screen and (max-width:480px){
	header{
		height: 70px;
	}
	.logo{
		width: 110px;
		height: 70px;
	}
	section{
		width: 100%;
	}
	h3{
		font-size:18px;
	}
	.tira{
		width: 100%;
		left: 0;
		height: 60px;
	}
	.tit_landing{
		width: 210px;
		height:75px;
	}
	.logofest{
		width:170px;
		right:-75px;
		bottom:-70px;
	}
	input{
		font-size: 14px;
	}
	button{
		font-size: 16px;
	}
}
@media screen and (max-width:360px){

}
@media screen and (max-width:340px){
	.tit_landing{
		width:190px;
	}
}