<script id="templateRecreateProduct" type="text/x-handlebars-template">
    <div class="resumen-final">
        <h2>Ya habias iniciado la publicación de un producto</h2>
        <p>Previamente estabas intentando publicar un producto con el titulo <b>{{Name}}</b> deseas retomarlo o crear uno nuevo? </p>
        <input id="btnCreateNewProduct" type="button" value="Crear uno nuevo" />
        <input id="btnRecoverProduct" type="button" value="Retomar producto" />
        @*<input type="button" class="btn_2 button-1" value="Ver publicación">*@
    </div>
</script>
