

    <div class="divShowCategories">

        
    </div>
    <div class="clear"></div>

<script id="templateCategorySelector" type="text/x-handlebars-template">
    <ul class="divCategorySelector" tuils-level="{{currentLevel}}" style="float:left">
        {{#if ChildrenCategories.length }} 
            <input type="text" placeholder="@T("PublishProduct.SelectCategoryFilter")" />
            {{#each ChildrenCategories}}
                
                <li tuils-id="{{Id}}" tuils-filter="{{toLowerCase Name}}" tuils-level='{{../currentLevel}}'><a href="javascript:void(0);">{{Name}}</a></li>
            {{/each}}
        {{else}}
            <li>
                <h3>Categoria seleccionada = {{Name}}</h3><br />
                <a href="#Detalle" class="btnFinishSelection">@T("PublishProduct.ContinueStep1")</a>
            </li>
        {{/if}}
    </ul>
</script>

