
<script id="templateSummary" type="text/template">

    <div class="content-public">
        <div class="resumen-product">
            <div class="title">Datos del producto</div>
            {{#each Properties}}
            <p><b>{{name}}:</b>  {{value}}</p>
            {{/each}}
        </div>
        <div class="resumen-product">
            <div class="title">Fotos</div>
            <ul class="picture-resume">
                {{#each Images}}
                <li>
                    <img src="{{src}}" />
                </li>

                {{/each}}
                <br />
            </ul>

        </div>
        <br />
    </div>
    <hr />
    <input type="button" class="btn_continue button-1 btnFinish" value="@T("PublishProduct.FinishStep")">
    <input type="button" class="btn_continue button-1 btnBack" value="@T("PublishProduct.BackStep")">

    <br />
    <div class="txt-terminos"><input id="chkConditions" type="checkbox" />Al publicar un aviso, admites y aceptas los <a href="">Términos y Condiciones</a> de Tuils.</div>

</script>