@model Nop.Web.Models.Sales.SelectPlanModel
@{
    Html.AddTitleParts(T("PageTitle.SelectPlan").Text);
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}

@{
    bool first = true;   
}

@using (Html.BeginForm())
{ 
    foreach (var plan in Model.Plans)
    {
        if (first)
        {
            <div>
                <ul>
                    @foreach (var spec in Model.Plans.Last().Specifications)
                    {
                        <li>@spec.Name</li>
                    }
                </ul>
            </div>
            first = false;
        }

        <div>
            <ul>
                @foreach (var spec in plan.Specifications)
                {
                    <li>@spec.Value</li>
                }
            </ul>
        </div>


        <input name="SelectedPlan" type="radio" value="@plan.Id" />


        <input name="merchantId" type="hidden" value="545191">
        <input name="referenceCode" type="hidden" value="123NumeroOrden">
        <input name="description" type="hidden" value="Nombre del plan que se desea comprar">
        <input name="amount" type="hidden" value="300000">
        <input name="tax" type="hidden" value="0">
        <input name="taxReturnBase" type="hidden" value="0">
        <input name="signature" type="hidden" value="MD5(ApiKey~merchantId~referenceCode~amount~currency)">
        <input name="accountId" type="hidden" value="547379">
    
        <input name="currency" type="hidden" value="COP">
        <input name="buyerEmail" type="hidden" value="test@test.com">

        <input name="test" type="hidden" value="1">

        <input name="responseUrl" type="hidden" value="http://local.tuils.com/Sales/Response">
        <input name="confirmationUrl" type="hidden" value="http://local.tuils.com/Sales/Confirm">

        <input name="Submit" type="submit" value="Enviar">
    }
} 

