@model Nop.Web.Models.Catalog.VendorModel
<div class="conte-sede" id="infoContacto">
    <div class="mapa"></div>
    <div class="caja-sede">

    </div>
    <div class="btn-sedes">
        <a id="btnBack"><span class="icon-prev"></span></a>
        <a id="btnNext"><span class="icon-next"></span></a>
    </div>
    <div style="display:none" id="divOfficesNoResults">
        
    </div>
    @if (Model.AllowEdit)
    {
        @Html.ActionLink(T("Vendor.offices.editar").Text, "Offices", "ControlPanel", new { }, new { @class = "button-1", title = T("Vendor.offices.editar.alt").Text })
    }
</div>
<script id="templateSelectedOffice" type="text/x-handlebars-template">
    <h3>{{Name}} - {{Address}}</h3> 
    <p><span class="icon-loc"></span> {{StateProvinceName}}</p>
    <p><span class="icon-tel"></span>{{PhoneNumber}}</p>
    <p><span class="icon-mail"></span>{{Email}}</p>
    <a id="btnViewGallery" class="button-1">Ver galeria</a>
    <div id="divGallery"></div>
</script>