@model Nop.Web.Models.Catalog.VendorModel
<div class="conte-sede">
    <div class="mapa"></div>
    <div class="caja-sede">

    </div>
    <div class="btn-sedes">
        <a id="btnBack"><span class="icon-mail"></span></a>
        <a id="btnNext"><span class="icon-mail"></span></a>
    </div>
    @if (Model.AllowEdit)
    {
        @Html.ActionLink("Editar Sedes", "Offices", "ControlPanel", new { }, new { @class = "button-1" })
    }
</div>
<script id="templateSelectedOffice" type="text/x-handlebars-template">
    <h3>{{Name}} - {{Address}}</h3> 
    <p><span class="icon-mail"></span> {{StateProvinceName}}</p>
    <p><span class="icon-tel"></span>{{PhoneNumber}}</p>
    <p><span class="icon-mail"></span>{{Email}}</p>
    <a id="btnViewGallery" class="button-1">Ver galeria</a>
    <div id="divGallery"></div>

</script>