@model Nop.Web.Models.Catalog.SimilarSearchesModel

<div class="similarSearch">
    <span title="@Model.TitleOfTitle">@Model.Title</span>
    <ul>

        @for (int i = 0; i < Model.Searches.Count; i++)
        {
            var item = Model.Searches[i];
            <a href="@Url.Action("Search", new { q = item, query = string.Empty })" title="@T("similarSearches.suggest.title", item)"><li>@item@(i == Model.Searches.Count-1 ? string.Empty : ",")</li></a>
        }
    </ul>
</div>

